
<div class="p-4 bg-gray-100 rounded-lg shadow-md">
    <h1 class="text-2xl font-bold mb-2">Ingresa tu email</h1>
    <hr class="my-4">
    <form action="api/login" method="POST">
        <input name="email" id="email" class="w-full p-2 mb-4 rounded-lg shadow-md border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200" type="text" name="mensaje">
        <input type="submit" id="buttonLogIn" class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-200" value="ingresar">
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<style>
</style>
